
<ul class="form-validation-feedback">
  <li data-validation="password.length"><span class="validation-icon"></span>8+ characters </li>
  <li data-validation="password.lowercase"><span class="validation-icon"></span>lowercase letter</li>
  <li data-validation="password.uppercase"><span class="validation-icon"></span>uppercase letter</li>
  <li data-validation="password.decimal"><span class="validation-icon"></span>number</li>
  <li data-validation="password.specialsigns"><span class="validation-icon"></span>special character</li>
</ul>