
// grid

$grid-space: 16px;

// colors

$color-main: #000;
$color-background: #fff;

$color-success: #009e2d;
$color-error: #9e0000;

// typo

$font-color: $color-main;

$font-size: 18px;
$font-weight: 400;

$h1-font-size: 24px;

// form

$container-border: 2px solid $color-main;

$form-iput-border: $container-border;

$form-iput-color: $color-main;
$form-iput-bg: $color-background;

$form-iput-font-size: $font-size;
$form-iput-font-weight: $font-weight;

$form-button-color: $color-background;
$form-button-background: $color-main;

$form-button-color-disabled: #ccc;
$form-button-background-disabled: #333;